---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="flex justify-between">
  <div class="space-y-2">
  <header class="flex justify-between items-start mb-4">
    <div class="flex items-center gap-2">
      <span class="relative flex h-2 w-2" aria-hidden="true">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary"></span>
        <span class="relative inline-flex rounded-full h-2 w-2 bg-primary shadow-[0_0_8px_primary]"></span>
      </span>
      <h2 class="text-xs tracking-widest uppercase">{title}</h2>
    </div>
  </header>
    <div class="space-y-2">
      <slot />
    </div>
  </div>
  <slot name="right" />
</section>
