---
import { TextHero } from "./text-hero";
---

<section
  id="hero"
  class="hero-section overflow-x-clip"
  aria-label="Hero section with animated text"
>
  <TextHero client:only="react" />
</section>
